# best_three_players_algorithm

In [337]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.utils import check_array
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
import warnings
import xgboost as xgb
import seaborn as sns
from sklearn import metrics
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [338]:
dataset = pd.read_csv('DBClassifiedFinal.csv')
dataset = dataset.drop(columns=['Unnamed: 0'])
invalid_idx = []
for ii in range(len(dataset)):
    x = dataset.iloc[ii].cast
    if (len(x) > 100) or x == '[]':
        invalid_idx.append(ii)
        
print("Drop all invalid rows:", len(invalid_idx))

dataset = dataset.drop(invalid_idx)
dataset = dataset.drop_duplicates()

dataset.to_csv('DBClassifiedFinal_Final_After_Cleaning.csv')
dataset

Drop all invalid rows: 135

,title,movie_id,cast,budget,revenue,producers,writers,directors
0,Pirates of the Caribbean: At World's End,285,17.32105912,3.000000,9.610000,10.237959,10.656598,10.656598
1,Spectre,206647,9.566367436666667,2.450000,8.806746,11.085610,10.760058,11.085610
2,The Dark Knight Rises,49026,10.870944316666666,2.500000,10.849391,10.849391,10.849391,10.849391
3,John Carter,49529,3.8206283033333333,2.600000,2.841391,5.447877,7.965731,9.403355
4,Spider-Man 3,559,12.089258133333333,2.580000,8.908716,8.908716,8.908716,8.908716
5,Tangled,38757,6.733775596666667,2.600000,5.917949,6.521054,5.917949,5.917949
6,Avengers: Age of Ultron,99861,15.195579099999998,2.800000,14.054037,15.195579,15.195579,15.195579
7,Harry Potter and the Half-Blood Prince,767,10.126300663333334,2.500000,9.339592,9.481313,9.764755,9.382127
8,Batman v Superman: Dawn of Justice,209112,10.842565826666666,2.500000,8.732602,9.790996,9.790996,8.732602
9,Superman Returns,1452,5.705783973333333,2.700000,3.910812,5.100084,5.439348,7.478628
10,Quantum of Solace,10764,7.602474889999999,2.000000,5.860907,11.085610,9.387227,5.860907
11,Pirates of the Caribbean: Dead Man's Chest,58,17.32105912,2.000000,10.656598,10.656598,10.656598,10.656598
12,The Lone Ranger,57201,10.24837649,2.550000,0.892899,6.556922,7.402032,10.656598
13,Man of Steel,49521,9.02506796,2.250000,6.628455,10.320194,10.849391,8.732602
14,The Chronicles of Narnia: Prince Caspian,2454,6.3908844233333335,2.250000,4.196514,6.390884,10.754826,9.198388
15,The Avengers,24428,15.195579099999998,2.200000,15.195579,15.195579,15.195579,15.195579
16,Pirates of the Caribbean: On Stranger Tides,1865,13.252290296666667,3.800000,10.457138,10.656598,10.656598,10.457138
17,Men in Black 3,41154,9.487999126666667,2.250000,6.240268,6.240268,6.240268,6.240268
18,The Hobbit: The Battle of the Five Armies,122917,11.092375193333334,2.500000,9.560198,10.455499,10.944426,11.188890
19,The Amazing Spider-Man,1930,7.522158569999999,2.150000,7.522159,8.446530,8.429447,7.522159
20,Robin Hood,20662,8.9847276,2.000000,3.106695,5.695506,3.106695,6.301619
21,The Hobbit: The Desolation of Smaug,57158,11.092375193333334,2.500000,9.584000,10.455499,10.944426,11.188890
22,The Golden Compass,2268,6.2171049499999995,1.800000,3.722349,3.722349,5.435144,7.098275
23,King Kong,254,7.470611303333333,2.070000,5.500000,9.277740,11.188890,11.188890
24,Titanic,597,18.45034188,2.000000,18.450342,18.450342,18.450342,18.450342
25,Captain America: Civil War,271110,15.195579099999998,2.500000,11.533045,15.195579,11.533045,11.533045
26,Battleship,44833,3.66225644,2.090000,3.030255,3.145006,3.030255,6.240294
27,Jurassic World,135397,15.135288100000002,1.500000,15.135288,15.135288,15.135288,15.135288
28,Skyfall,37724,11.08561013,2.000000,11.085610,11.085610,11.085610,11.085610
29,Spider-Man 2,558,12.089258133333333,2.000000,7.837663,9.287672,8.266085,8.908716
...,...,...,...,...,...,...,...,...
5336,"Run, Hide, Die",290391,0.001,0.000500,0.001000,0.000000,0.000000,0.001000
5337,The Exploding Girl,44770,2.4320320933333335,0.000400,0.000250,0.000250,0.000000,0.000250
5338,The Legend of God's Gun,69382,0.0024,0.000300,0.002400,0.000000,0.000000,0.002400
5339,Mutual Appreciation,40769,0.11071312333333332,0.005000,0.001200,0.000000,0.000000,0.001200
5340,Her Cry: La Llorona Investigation,220490,0.001,0.000350,0.001000,0.000000,0.000000,0.001000
5341,Down Terrace,42151,0.2697243133333333,0.000312,0.000100,0.000000,0.001718,0.001718
5342,Clerks,2292,3.0317868366666665,0.000270,0.031511,0.226281,0.421051,0.555838
5343,Pink Narcissus,42497,8e-05,0.000270,0.000080,0.000080,0.000000,0.000080
5344,Funny Ha Ha,33693,0.00917934,0.000250,0.000769,0.000769,0.000000,0.001200
5345,In the Company of Men,14585,5.59940412,0.000240,0.028000,0.028000,0.000000,0.294000
5346,Manito,185465,0.5869739033333333,0.000250,0.000110,0.000000,0.017593,0.000110
5347,Rampage,38780,4.629835010000001,1.200000,4.280000,4.280000,0.000000,4.280000
5349,Dutch Kills,366967,0.001,0.000250,0.001000,0.000000,0.000000,0.001000
5350,Dry Spell,255266,0.4869880733333332,0.000220,0.001000,0.000000,0.000000,0.001000
5352,Backmask,226458,1.0845218433333335,0.000150,0.002911,0.002911,0.472419,0.002911
5353,The Puffy Chair,24055,0.6399645633333334,0.000150,0.001900,0.001900,0.100600,0.100600
5354,Stories of Our Lives,287625,0.23650000000000002,0.000150,0.236500,0.236500,0.000000,0.236500
5357,Pink Flamingos,692,1.6340711466666666,0.000120,0.060000,0.060000,0.904500,0.078207
5358,Clean,39851,8.099254473333334,0.000100,0.033000,0.000000,0.033000,0.048574
5360,Tin Can Man,157185,0.001,0.000130,0.001000,0.001000,0.000000,0.001000
5361,Cure,36095,0.5414698733333333,0.000200,0.000990,0.000000,0.000000,0.000990
5362,On The Downlow,182291,0.00028,0.000100,0.000280,0.000000,0.000000,0.000280
5363,Sanctuary: Quite a Conundrum,286939,0.002,0.020000,0.002000,0.002000,0.000000,0.002000
5364,Bang,124606,1.812381176666667,0.070000,0.001000,0.001000,0.000000,0.001000
5365,Primer,14337,0.7772454933333331,0.070000,0.004248,0.004248,0.000000,0.004248
5367,El Mariachi,9367,0.74819449,0.002200,0.020409,1.475988,1.970120,1.970120
5368,Newlyweds,72766,4.732941563333333,0.090000,0.033600,0.055733,0.210092,0.100000
5369,"Signed, Sealed, Delivered",231617,1.4094753266666666,0.001000,0.001000,0.001000,0.000000,0.001000
5370,Shanghai Calling,126186,8.42521909,0.007400,0.000100,0.000000,0.000000,0.000100
5371,My Date with Drew,25975,3.1541880866666663,0.007400,0.002628,0.000000,0.000000,0.049752

In [339]:
dataset = pd.read_csv('DBClassifiedFinal_Final_After_Cleaning.csv')

x = dataset[['cast', 'budget', 'producers', 'writers', 'directors']].values
y = dataset['revenue'].values 
number_of_rows = len(dataset)
rand_gen = np.random.RandomState(0)
shuffled_indices = rand_gen.permutation(np.arange(len(x)))
print(shuffled_indices)
num_train = int(0.80 * number_of_rows)

[ 383 1448 1271 ... 1653 2607 2732]

In [340]:
# x = dataset[['cast', 'budget', 'writers', 'directors', 'producers']].values
# y = dataset['revenue'].values

# external functions

In [341]:
# find all the triples with the given sum
def find_triplets(the_sum):
    arr = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 10, 10, 10]
    n = len(arr)
    numbers = list()
    for i in range(0, n - 2):
        for j in range(i + 1, n - 1):
            for k in range(j + 1, n):
                if arr[i] + arr[j] + arr[k] == the_sum:
                    triple = [arr[i], arr[j], arr[k]]
                    triple.sort()
                    numbers.append(triple)
    ans = set(tuple(i) for i in numbers)
    return ans

In [342]:
# should be normalize for all
def normalize_budget(df_train, budget):
    budget = budget/100000000
    mean_f = float(df_train['budget'].mean())
    std_f = float(df_train['budget'].std())
    normalized_value = (budget - mean_f) / std_f
    print("normalized is:", normalized_value)
    print("mean and std are:", mean_f, std_f)
    difference = 0.135
    cur_range_min = 0.00001
    final_budget_value = 0
    for i in range(3, 31):
        if cur_range_min <= normalized_value < (cur_range_min + difference):
            final_budget_value = i
            break
        else:
            cur_range_min += difference
        if normalized_value > 3.8:  # kitzon
            final_budget_value = 30
            break
    print("final_budget_value is:",final_budget_value)
    return final_budget_value

In [343]:
def normalize_mean_std(df, df_train, feature_array):
    for feature_name in feature_array:
        mean_f = float(df_train[feature_name].mean())
        std_f = float(df_train[feature_name].std())
        df.loc[df.index, feature_name] = (df[feature_name] - mean_f) / std_f
    return df  

def normalize_mean_std_one_elememt(df_train, feature_name, feature_value):
    mean_f = float(df_train[feature_name].mean())
    std_f = float(df_train[feature_name].std())
    return (feature_value - mean_f) / std_f

df = normalize_mean_std(dataset, dataset.iloc[shuffled_indices[:num_train]], ['cast', 'budget','revenue', 'producers', 'writers', 'directors'])
df = df.drop(columns=['Unnamed: 0'])
df

,title,movie_id,cast,budget,revenue,producers,writers,directors
0,Pirates of the Caribbean: At World's End,285,3.429651,6.661728,5.597967,3.327030,3.731070,3.418613
1,Spectre,206647,1.150199,5.292420,5.082990,3.664657,3.774426,3.585371
2,The Dark Knight Rises,49026,1.533673,5.416903,6.392558,3.570569,3.811862,3.493552
3,John Carter,49529,-0.538732,5.665868,1.258517,1.419093,2.603422,2.931475
4,Spider-Man 3,559,1.891790,5.616075,5.148364,2.797579,2.998594,2.739207
5,Tangled,38757,0.317573,5.665868,3.230942,1.846550,1.745269,1.576689
6,Avengers: Age of Ultron,99861,2.804877,6.163798,8.447102,5.301698,5.633197,5.182926
7,Harry Potter and the Half-Blood Prince,767,1.314789,5.416903,5.424605,3.025650,3.357330,2.923223
8,Batman v Superman: Dawn of Justice,209112,1.525331,5.416903,5.035455,3.149000,3.368326,2.670751
9,Superman Returns,1452,0.015400,5.914833,1.944138,1.280564,1.544704,2.183328
10,Quantum of Solace,10764,0.572923,4.172077,3.194371,3.664657,3.199121,1.554516
11,Pirates of the Caribbean: Dead Man's Chest,58,3.429651,4.172077,6.268956,3.493778,3.731070,3.418613
12,The Lone Ranger,57201,1.350672,5.541385,0.009312,1.860837,2.367195,3.418613
13,Man of Steel,49521,0.991087,4.794490,3.686457,3.359785,3.811862,2.670751
14,The Chronicles of Narnia: Prince Caspian,2454,0.216782,4.794490,2.127306,1.794702,3.772233,2.851803
15,The Avengers,24428,2.804877,4.670007,9.178960,5.301698,5.633197,5.182926
16,Pirates of the Caribbean: On Stranger Tides,1865,2.233658,8.653450,6.141079,3.493778,3.731070,3.341083
17,Men in Black 3,41154,1.127163,4.794490,3.437585,1.734710,1.880341,1.701975
18,The Hobbit: The Battle of the Five Armies,122917,1.598762,5.416903,5.566038,3.413678,3.851688,3.625516
19,The Amazing Spider-Man,1930,0.549314,4.545525,4.259423,2.613486,2.797749,2.200249
20,Robin Hood,20662,0.979229,4.172077,1.428607,1.517727,0.567171,1.725822
21,The Hobbit: The Desolation of Smaug,57158,1.598762,5.416903,5.581298,3.413678,3.851688,3.625516
22,The Golden Compass,2268,0.165701,3.674147,1.823311,0.731799,1.542942,2.035484
23,King Kong,254,0.534162,4.346353,2.962989,2.944565,3.954134,3.625516
24,Titanic,597,3.761598,4.172077,11.265634,6.598101,6.997153,6.448060
25,Captain America: Civil War,271110,2.804877,5.416903,6.830858,5.301698,4.098358,3.759290
26,Battleship,44833,-0.585284,4.396146,1.379600,0.501838,0.535138,1.701985
27,Jurassic World,135397,2.787155,2.927251,9.140307,5.277683,5.607931,5.159491
28,Skyfall,37724,1.596773,4.172077,6.544002,3.664657,3.910853,3.585371
29,Spider-Man 2,558,1.891790,4.172077,4.461697,2.948521,2.729290,2.739207
...,...,...,...,...,...,...,...,...
4639,"Run, Hide, Die",290391,-1.661492,-0.805981,-0.562497,-0.750849,-0.734735,-0.723244
4640,The Exploding Girl,44770,-0.946902,-0.806230,-0.562978,-0.750749,-0.734735,-0.723535
4641,The Legend of God's Gun,69382,-1.661080,-0.806479,-0.561600,-0.750849,-0.734735,-0.722700
4642,Mutual Appreciation,40769,-1.629242,-0.794778,-0.562369,-0.750849,-0.734735,-0.723166
4643,Her Cry: La Llorona Investigation,220490,-1.661492,-0.806355,-0.562497,-0.750849,-0.734735,-0.723244
4644,Down Terrace,42151,-1.582502,-0.806449,-0.563074,-0.750849,-0.734016,-0.722965
4645,Clerks,2292,-0.770607,-0.806554,-0.542936,-0.660719,-0.558288,-0.507577
4646,Pink Narcissus,42497,-1.661762,-0.806554,-0.563087,-0.750817,-0.734735,-0.723601
4647,Funny Ha Ha,33693,-1.659088,-0.806604,-0.562645,-0.750543,-0.734735,-0.723166
4648,In the Company of Men,14585,-0.015869,-0.806628,-0.545187,-0.739696,-0.734735,-0.609354
4649,Manito,185465,-1.489248,-0.806604,-0.563068,-0.750849,-0.727363,-0.723590
4650,Rampage,38780,-0.300869,2.180356,2.180829,0.953917,-0.734735,0.940014
4651,Dutch Kills,366967,-1.661492,-0.806604,-0.562497,-0.750849,-0.734735,-0.723244
4652,Dry Spell,255266,-1.518638,-0.806678,-0.562497,-0.750849,-0.734735,-0.723244
4653,Backmask,226458,-1.342996,-0.806853,-0.561272,-0.749689,-0.536761,-0.722501
4654,The Puffy Chair,24055,-1.473671,-0.806853,-0.561920,-0.750092,-0.692577,-0.684529
4655,Stories of Our Lives,287625,-1.592268,-0.806853,-0.411515,-0.656649,-0.734735,-0.631704
4656,Pink Flamingos,692,-1.181459,-0.806927,-0.524672,-0.726950,-0.355691,-0.693233
4657,Clean,39851,0.718949,-0.806977,-0.541982,-0.750849,-0.720906,-0.704752
4658,Tin Can Man,157185,-1.661492,-0.806902,-0.562497,-0.750451,-0.734735,-0.723244
4659,Cure,36095,-1.502623,-0.806728,-0.562504,-0.750849,-0.734735,-0.723248
4660,On The Downlow,182291,-1.661703,-0.806977,-0.562959,-0.750849,-0.734735,-0.723524
4661,Sanctuary: Quite a Conundrum,286939,-1.661198,-0.757433,-0.561856,-0.750052,-0.734735,-0.722855
4662,Bang,124606,-1.129046,-0.632950,-0.562497,-0.750451,-0.734735,-0.723244
4663,Primer,14337,-1.433318,-0.632950,-0.560415,-0.749157,-0.734735,-0.721981
4664,El Mariachi,9367,-1.441858,-0.801749,-0.550054,-0.162949,0.090872,0.042158
4665,Newlyweds,72766,-0.270562,-0.583157,-0.541597,-0.728650,-0.646693,-0.684762
4666,"Signed, Sealed, Delivered",231617,-1.247478,-0.804736,-0.562497,-0.750451,-0.734735,-0.723244
4667,Shanghai Calling,126186,0.814765,-0.788803,-0.563074,-0.750849,-0.734735,-0.723594
4668,My Date with Drew,25975,-0.734628,-0.788803,-0.561454,-0.750849,-0.734735,-0.704294

# The algorithm

In [344]:
# The algorithm:
# Gets a budget, producer, director, writer and returns a tuple of the 3 major players that will give the best revenue
# for the movie in the budget restrictions
# the input of the producer, director, writer are strings with their names ?????????

In [345]:
def best_three_players_algorithm(rf_model, df_train, budget, producer, director, writer):
    # Vars:
    cur_revenue = 0
    max_revenue = 0
    max_player_1_name = ""
    max_player_2_name = ""
    max_player_3_name = ""

    # Normalize budget
    budget_value = normalize_budget(df_train, budget)

    # Get all the triples in the budget restrictions
    tuples_set = find_triplets(budget_value)
    print(tuples_set)

    # the files we need to work with:
    database = pd.read_csv('DBclassified.csv', low_memory=False)  # the file with the whole data
    # database_clean = pd.read_csv('DBClassifiedFinal_Final_After_Cleaning.csv', low_memory=False)
    actors_vals = pd.read_csv('ActorsGradesMax.csv', low_memory=False)
    actors_1 = pd.read_csv('Actors_1.csv', low_memory=False)
    actors_2 = pd.read_csv('Actors_2.csv', low_memory=False)
    actors_3 = pd.read_csv('Actors_3.csv', low_memory=False)
    actors_4 = pd.read_csv('Actors_4.csv', low_memory=False)
    actors_5 = pd.read_csv('Actors_5.csv', low_memory=False)
    actors_6 = pd.read_csv('Actors_6.csv', low_memory=False)
    actors_7 = pd.read_csv('Actors_7.csv', low_memory=False)
    actors_8 = pd.read_csv('Actors_8.csv', low_memory=False)
    actors_9 = pd.read_csv('Actors_9.csv', low_memory=False)
    actors_10 = pd.read_csv('Actors_10.csv', low_memory=False)

    # For each triple check:
    # Check how many times to get random values from each triple
    # Run for x times the random selection:
    # 1. Check if there are two players who participated in the same movie & the movie value is grater or equal to one
    #    (parameter to a success movie). If it is - add a bonus to this team of players.
    # calculate the average with or without the bonus.
    # 2. Send the cast value with the others to the regressor.
    # 3. keep the triple who has the best revenue value.
    max_triple = ()
    random_checks = 20
    for triple in tuples_set:
        for i in range(random_checks+1):
            actors_1th = vars()["actors_" + str(triple[0])]
            actors_2nd = vars()["actors_" + str(triple[1])]
            actors_3rd = vars()["actors_" + str(triple[2])]

            # get the rows of the actors
            player_1 = actors_1th.sample()
            player_2 = actors_2nd.sample()
            player_3 = actors_3rd.sample()

            print(player_1)
            print(player_2)
            print(player_3)

            # make sure there are not duplicate actors
            while player_1.equals(player_2):
                print("equal1")
                player_2 = actors_2nd.sample()
            while player_1.equals(player_3):
                print("equal2")
                player_3 = actors_3rd.sample()
            while player_2.equals(player_3):
                print("equal3")
                player_3 = actors_3rd.sample()

            # players info:
            player_1_id = player_1['ID'].iloc[0]
            player_1_name = player_1['Name'].iloc[0]
            player_2_id = player_2['ID'].iloc[0]
            player_2_name = player_2['Name'].iloc[0]
            player_3_id = player_3['ID'].iloc[0]
            player_3_name = player_3['Name'].iloc[0]

            # check for bonus
            bonus = 0
            counter = 1
            for movie in database.iterrows():
                counter += 1
                if counter == 61 or counter == 1737 or counter == 2078 or counter == 2348 or counter == 2608 or counter == 2779 or counter == 2791:
                    continue
                if counter == 3142 or counter == 3230 or counter == 3292 or counter == 3398 or counter == 3477 or counter == 3679 or counter == 3776:
                    continue
                if counter == 3905 or counter == 4000 or counter == 4017 or counter == 4076 or counter == 4113 or counter == 4126 or counter == 4148:
                    continue
                if counter == 4185 or counter == 4255 or counter == 4312 or counter == 4321 or counter == 4329 or counter == 4335 or counter == 4394:
                    continue
                if counter == 4408 or counter == 4438 or counter == 4465 or counter == 4475 or counter == 4478 or counter == 4498 or counter == 4510:
                    continue
                if counter == 4511 or counter == 4515 or counter == 4524 or counter == 4533 or counter == 4547 or counter == 4557 or counter == 4560:
                    continue
                if counter == 4569 or counter == 4571 or counter == 4573 or counter == 4578 or counter == 4581 or counter == 4588 or counter == 4590:
                    continue
                if counter == 4596 or counter == 4604 or counter == 4613 or counter == 4623 or counter == 4624 or counter == 4640 or counter == 4645:
                    continue
                if counter == 4664 or counter == 4665 or counter == 4681 or counter == 4686 or counter == 4692 or counter == 4696 or counter == 4705:
                    continue
                if counter == 4717 or counter == 4719 or counter == 4723 or counter == 4726 or counter == 4744 or counter == 4762 or counter == 4764:
                    continue
                if counter == 4786 or counter == 4789 or counter == 4804:
                    continue
                curr_movie_players = []
                curr_movie_id = movie[1][2]
                #print("curr movie id is:", curr_movie_id)
                
                # df is the normalized file 
                movie_value = 0
                if curr_movie_id in df.movie_id.values:
                    movie_value = (df.loc[df.movie_id == curr_movie_id, 'revenue']).values[0]
                #print("movie value is:" ,movie_value)
                
                if movie_value > 1: # a parameter to a success movie (when the revenue is grater then 1 after normalization)
                    # print("checking for 2 who participated in same movie")
                    cast = movie[1][3]
                    array = cast.split(',')
                    curr_movie_players.append(array[4].split(': ')[1])
                    curr_movie_players.append(array[4+7].split(': ')[1])
                    curr_movie_players.append(array[4+14].split(': ')[1])
                    same_movie = 0
                    if player_1_id in curr_movie_players:
                        same_movie += 1
                    if player_2_id in curr_movie_players:
                        same_movie += 1
                    if player_3_id in curr_movie_players:
                        same_movie += 1
                    if same_movie >= 2:
                        print("same movie there is bonus!!!!!!!!!!")
                        bonus = 3
                        break

            # calculate actors average
            val1 = (actors_vals.loc[actors_vals.ID == player_1_id, 'Grade']).values[0]
            val2 = actors_vals.loc[actors_vals.ID == player_2_id, 'Grade'].values[0]
            val3 = actors_vals.loc[actors_vals.ID == player_3_id, 'Grade'].values[0]
            actors_avg = (val1 + val2 + val3 + bonus)/3
            # initial bonus
            bonus = 0
            
            # make the test example to the regressor
            # the order: cast, budget, producer, director, writer
            actors_value = normalize_mean_std_one_elememt(df_train, 'cast', actors_avg)
            producer_value = normalize_mean_std_one_elememt(df_train, 'producers', producer)
            director_value = normalize_mean_std_one_elememt(df_train, 'directors', director)
            writer_value = normalize_mean_std_one_elememt(df_train, 'writers', writer)
            test_to_check = np.array([actors_value, budget_value, producer_value, director_value, writer_value])

            # check on the regressor
            cur_revenue = rf_model.predict(test_to_check.reshape(1, -1))
            print("revenue is:", cur_revenue)
            print("-----------------------------------------------------------------------------")
            print("-----------------------------------------------------------------------------")

            # update max triple:
            if cur_revenue > max_revenue:
                max_revenue = cur_revenue
                max_player_1_id = player_1_id
                max_player_1_name = player_1_name
                max_player_2_id = player_2_id
                max_player_2_name = player_2_name
                max_player_3_id = player_3_id
                max_player_3_name = player_3_name

        # initial random checks
        random_checks = 20
        # move to next triple

    # return the best triple
    return max_player_1_name, max_player_2_name, max_player_3_name

# Run the algorithm

In [346]:
x = df[['cast', 'budget', 'producers', 'writers', 'directors']].values
y = df['revenue'].values 

rand_gen = np.random.RandomState(0)
shuffled_indices = rand_gen.permutation(np.arange(len(x)))
print(shuffled_indices)
num_train = int(0.8 * number_of_rows)

x_train = x[shuffled_indices[:num_train]]
y_train = y[shuffled_indices[:num_train]]
x_test = x[shuffled_indices[num_train:]]
y_test = y[shuffled_indices[num_train:]]

# train the model:
rf_model = RandomForestRegressor(n_estimators=500, random_state=42)
rf_model.fit(x_train, y_train)
y_pred_rf = rf_model.predict(x_test)

[ 383 1448 1271 ... 1653 2607 2732]

In [347]:
# external function to the Algorithm:
# gets the producers, directors and writers by names in a list

    
def calculate_avrg_value_from_list(job_list, dataframe_grades):
    value = 0
    for person in job_list:
        print(person)
        cur_person = " \"" + person + "\""   
        print(cur_person)
        print((dataframe_grades.loc[dataframe_grades.ID == 2710, 'Name']).values[0])
        
        person_val = (dataframe_grades.loc[dataframe_grades.Name == cur_person, 'Grade']).values[0]
        value += person_val
        
    return value/len(job_list)
        

def external_best_three_players_algorithm(rf_model, df_train, budget, producers_list, directors_list, writers_list):
    producers_grades = pd.read_csv('ProducersGrades.csv', low_memory=False)
    directors_grades = pd.read_csv('DirectorsGrades.csv', low_memory=False)
    writers_grades = pd.read_csv('WritersGrades.csv', low_memory=False)
    
    producers_val = calculate_avrg_value_from_list(producers_list, producers_grades)
    directors_val = calculate_avrg_value_from_list(directors_list, directors_grades)
    writers_val = calculate_avrg_value_from_list(writers_list, writers_grades)
    
    print(producers_val,directors_val,writers_val)
    return best_three_players_algorithm(rf_model, dataset.iloc[shuffled_indices[:num_train]], budget, producers_val, directors_val, writers_val)

In [348]:
# def best_three_players_algorithm(rf_model, df_train, budget, producer, director, writer)

# x = best_three_players_algorithm(rf_model, dataset.iloc[shuffled_indices[:num_train]], 10000000, 10, 6.5, 5.5)
# print(x)

producers_list = ["James Cameron","Jon Landau"]
directors_list = ["James Cameron"]
writers_list = ["Ted Elliott", "John Logan"]

x = external_best_three_players_algorithm(rf_model, dataset.iloc[shuffled_indices[:num_train]], 10000000, producers_list, directors_list, writers_list)

James Cameron
 "James Cameron"
 "James Cameron"
Jon Landau
 "Jon Landau"
 "James Cameron"
James Cameron
 "James Cameron"
 "James Cameron"
Ted Elliott
 "Ted Elliott"
 "James Cameron"
John Logan
 "John Logan"
 "James Cameron"
18.45034188 18.45034188 10.871104124999999
normalized is: 0.09999999999999751
mean and std are: 2.0780491710852045e-15 1.0000000000000042
final_budget_value is: 3
{(1, 1, 1)}
     OriginalOrder      ID              Name     Grade  Value
802           1608  137920  "Hanaa Bouchaib"  0.251478      1
     OriginalOrder     ID              Name     Grade  Value
778           1583  20402  "Julian McMahon"  0.841468      1
     OriginalOrder     ID                Name     Grade  Value
823           1636  56890  "Malcolm McDowell"  0.222114      1
revenue is: [6.87466839]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID           Name  Grade  Value
1180           2054  74610  "Tasha Smith"  0.118      1
     OriginalOrder     ID             Name     Grade  Value
826           1639  26467  "Kyra Sedgwick"  1.520364      1
     OriginalOrder      ID           Name     Grade  Value
220            851  128206  "Lea Michele"  0.186632      1
revenue is: [6.895381]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
     OriginalOrder     ID             Name     Grade  Value
803           1609  20309  "Dwight Yoakam"  0.345606      1
     OriginalOrder     ID            Name     Grade  Value
722           1517  57675  "Daryl Sabara"  1.479342      1
      OriginalOrder    ID            Name   Grade  Value
2974           3929  2959  "Kayvan Novak"  0.0427      1
revenue is: [6.895381]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID            Name     Grade  Value
2040           2965  35745  "Preity Zinta"  0.293853      1
      OriginalOrder     ID             Name     Grade  Value
2984           3940  14415  "Julie Hagerty"  0.834535      1
      OriginalOrder     ID            Name     Grade  Value
3434           4398  60205  "John Rothman"  0.006382      1
revenue is: [6.87466839]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID                   Name  Grade  Value
4411           5401  99360  "John Canada Terrell"  0.071      1
      OriginalOrder     ID           Name     Grade  Value
1701           2607  78324  "Jamie Chung"  0.272061      1
     OriginalOrder     ID                 Name     Grade  Value
977           1821  15576  "Matthew Macfadyen"  1.211479      1
revenue is: [6.87712288]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
     OriginalOrder    ID               Name     Grade  Value
277            952  9825  "Saffron Burrows"  0.736482      1
      OriginalOrder     ID     Name     Grade  Value
2305           3237  55061  "Kajol"  0.423454      1
      OriginalOrder     ID            Name     Grade  Value
2184           3113  27237  "G. W. Bailey"  1.461989      1
revenue is: [6.99409482]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID                 Name  Grade  Value
3471           4435  13098  "Rapulana Seiphemo"  0.004      1
      OriginalOrder     ID            Name     Grade  Value
2429           3363  10223  "Jane Seymour"  1.617778      1
      OriginalOrder    ID          Name     Grade  Value
1814           2731  2310  "Bruno Ganz"  0.921809      1
revenue is: [6.99086431]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder      ID            Name     Grade  Value
3515           4480  204420  "Josh Blacker"  0.019143      1
      OriginalOrder      ID         Name     Grade  Value
1256           2134  110068  "Ryan Dunn"  1.172243      1
      OriginalOrder     ID              Name     Grade  Value
2275           3206  78564  "Sapphire Boyce"  0.001407      1
revenue is: [6.87466839]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID            Name    Grade  Value
3080           4036  87220  "Brian Boland"  1.77512      1
      OriginalOrder      ID            Name     Grade  Value
3316           4278  323331  "Sean Brosnan"  0.000157      1
     OriginalOrder     ID               Name     Grade  Value
479           1225  52037  "Robert Ri'chard"  0.766698      1
revenue is: [6.99086431]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID           Name     Grade  Value
3626           4595  80597  "Kym Whitley"  0.001391      1
      OriginalOrder     ID           Name     Grade  Value
3797           4771  51936  "Lindy Booth"  0.100477      1
      OriginalOrder     ID           Name     Grade  Value
3843           4818  55624  "Dian Bachar"  0.006023      1
revenue is: [6.82493888]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
     OriginalOrder     ID             Name     Grade  Value
647           1432  65236  "Bill Goldberg"  0.106679      1
      OriginalOrder      ID              Name   Grade  Value
1436           2332  568409  "Damian Woetzel"  0.0212      1
      OriginalOrder     ID                 Name    Grade  Value
4210           5198  17108  "Jonathan Caouette"  0.01162      1
revenue is: [6.82493888]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder      ID                Name     Grade  Value
3803           4777  141463  "Simon Quarterman"  1.017585      1
      OriginalOrder     ID               Name  Grade  Value
1108           1971  17243  "Jonathan Tucker"  0.223      1
      OriginalOrder    ID              Name  Grade  Value
4126           5107  1910  "Caroline Aaron"   0.01      1
revenue is: [6.87466839]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
     OriginalOrder     ID            Name   Grade  Value
541           1305  12833  "Edward Burns"  0.5636      1
      OriginalOrder     ID            Name     Grade  Value
2422           3356  10074  "Charles Gray"  1.160195      1
      OriginalOrder    ID             Name     Grade  Value
4490           5480  1173  "Mark Margolis"  1.035903      1
revenue is: [7.02039017]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID                  Name     Grade  Value
2641           3582  83854  "David Dastmalchian"  0.004892      1
      OriginalOrder    ID              Name   Grade  Value
3815           4789  1430  "Keith Richards"  0.1577      1
      OriginalOrder     ID             Name  Grade  Value
4361           5351  16309  "Marianne Koch"  0.145      1
revenue is: [6.83225327]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder       ID           Name    Grade  Value
3996           4974  1367074  "Drew Monson"  0.00036      1
      OriginalOrder     ID               Name  Grade  Value
4545           5535  57997  "Malcolm Goodwin"  0.002      1
      OriginalOrder      ID         Name     Grade  Value
3386           4349  525139  "Ken Bevel"  0.345222      1

revenue is: [6.83225327]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder       ID            Name  Grade  Value
4155           5139  1428379  "Shea Stewart"   0.01      1
      OriginalOrder     ID            Name     Grade  Value
2753           3700  74940  "Lumi Cavazos"  0.005601      1
      OriginalOrder     ID                 Name     Grade  Value
1125           1989  52869  "Madison Davenport"  0.854461      1
revenue is: [6.8633931]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID           Name  Grade  Value
1821           2739  21485  "Blake Clark"  0.167      1
      OriginalOrder    ID            Name    Grade  Value
3345           4307  8841  "Donald Crisp"  0.09132      1
      OriginalOrder     ID           Name  Grade  Value
3768           4742  63109  "Joshua Alba"  0.001      1
revenue is: [6.82493888]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID            Name     Grade  Value
2718           3664  20753  "Fred Willard"  0.211648      1
      OriginalOrder     ID               Name  Grade  Value
2812           3761  58423  "Richard Jaeckel"   0.11      1
      OriginalOrder      ID            Name    Grade  Value
4550           5540  181851  "Amy Hathaway"  0.00278      1
revenue is: [6.83225327]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID               Name  Grade  Value
1516           2414  54854  "Terry Alexander"   0.34      1
      OriginalOrder     ID          Name    Grade  Value
2232           3163  10510  "Kabir Bedi"  0.06575      1
      OriginalOrder     ID               Name     Grade  Value
2022           2947  61134  "Tatiana Maslany"  0.616198      1
revenue is: [6.86873545]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
      OriginalOrder     ID          Name  Grade  Value
1247           2122  27563  "Amy Irving"  0.304      1
      OriginalOrder     ID               Name     Grade  Value
3213           4172  42820  "Shashawnee Hall"  0.000612      1
      OriginalOrder     ID           Name  Grade  Value
1184           2058  77303  "Wang Xue-qi"  0.133      1
revenue is: [6.83225327]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
     OriginalOrder     ID           Name     Grade  Value
124            674  13445  "Tia Carrere"  1.457715      1
     OriginalOrder     ID          Name     Grade  Value
338           1032  62054  "Faith Ford"  1.130069      1
      OriginalOrder     ID          Name   Grade  Value
2845           3796  63584  "Francis Ng"  0.0123      1
revenue is: [6.99250667]
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------