In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.utils import check_array
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
import warnings
import xgboost as xgb
import seaborn as sns
from sklearn import metrics
warnings.filterwarnings("ignore", category=DeprecationWarning)

# create the final DB
        #drop the Unnamed coloumn
        #drop duplicates rows

In [27]:
dataset = pd.read_csv('DBClassifiedFinal.csv')
dataset = dataset.drop(columns=['Unnamed: 0','producers'])
invalid_idx = []
for ii in range(len(dataset)):
    x = dataset.iloc[ii].cast
    if (len(x) > 100) or x == '[]':
        invalid_idx.append(ii)
        
print("Drop all invalid rows:", len(invalid_idx))

dataset = dataset.drop(invalid_idx)
dataset = dataset.drop_duplicates()

dataset.to_csv('DBClassifiedFinal_Final_After_Cleaning.csv')

Drop all invalid rows: 135

In [28]:
dataset

,title,movie_id,cast,budget,revenue,writers,directors
0,Pirates of the Caribbean: At World's End,285,17.32105912,3.000000,9.610000,10.656598,10.656598
1,Spectre,206647,9.566367436666667,2.450000,8.806746,10.760058,11.085610
2,The Dark Knight Rises,49026,10.870944316666666,2.500000,10.849391,10.849391,10.849391
3,John Carter,49529,3.8206283033333333,2.600000,2.841391,7.965731,9.403355
4,Spider-Man 3,559,12.089258133333333,2.580000,8.908716,8.908716,8.908716
5,Tangled,38757,6.733775596666667,2.600000,5.917949,5.917949,5.917949
6,Avengers: Age of Ultron,99861,15.195579099999998,2.800000,14.054037,15.195579,15.195579
7,Harry Potter and the Half-Blood Prince,767,10.126300663333334,2.500000,9.339592,9.764755,9.382127
8,Batman v Superman: Dawn of Justice,209112,10.842565826666666,2.500000,8.732602,9.790996,8.732602
9,Superman Returns,1452,5.705783973333333,2.700000,3.910812,5.439348,7.478628
10,Quantum of Solace,10764,7.602474889999999,2.000000,5.860907,9.387227,5.860907
11,Pirates of the Caribbean: Dead Man's Chest,58,17.32105912,2.000000,10.656598,10.656598,10.656598
12,The Lone Ranger,57201,10.24837649,2.550000,0.892899,7.402032,10.656598
13,Man of Steel,49521,9.02506796,2.250000,6.628455,10.849391,8.732602
14,The Chronicles of Narnia: Prince Caspian,2454,6.3908844233333335,2.250000,4.196514,10.754826,9.198388
15,The Avengers,24428,15.195579099999998,2.200000,15.195579,15.195579,15.195579
16,Pirates of the Caribbean: On Stranger Tides,1865,13.252290296666667,3.800000,10.457138,10.656598,10.457138
17,Men in Black 3,41154,9.487999126666667,2.250000,6.240268,6.240268,6.240268
18,The Hobbit: The Battle of the Five Armies,122917,11.092375193333334,2.500000,9.560198,10.944426,11.188890
19,The Amazing Spider-Man,1930,7.522158569999999,2.150000,7.522159,8.429447,7.522159
20,Robin Hood,20662,8.9847276,2.000000,3.106695,3.106695,6.301619
21,The Hobbit: The Desolation of Smaug,57158,11.092375193333334,2.500000,9.584000,10.944426,11.188890
22,The Golden Compass,2268,6.2171049499999995,1.800000,3.722349,5.435144,7.098275
23,King Kong,254,7.470611303333333,2.070000,5.500000,11.188890,11.188890
24,Titanic,597,18.45034188,2.000000,18.450342,18.450342,18.450342
25,Captain America: Civil War,271110,15.195579099999998,2.500000,11.533045,11.533045,11.533045
26,Battleship,44833,3.66225644,2.090000,3.030255,3.030255,6.240294
27,Jurassic World,135397,15.135288100000002,1.500000,15.135288,15.135288,15.135288
28,Skyfall,37724,11.08561013,2.000000,11.085610,11.085610,11.085610
29,Spider-Man 2,558,12.089258133333333,2.000000,7.837663,8.266085,8.908716
...,...,...,...,...,...,...,...
5336,"Run, Hide, Die",290391,0.001,0.000500,0.001000,0.000000,0.001000
5337,The Exploding Girl,44770,2.4320320933333335,0.000400,0.000250,0.000000,0.000250
5338,The Legend of God's Gun,69382,0.0024,0.000300,0.002400,0.000000,0.002400
5339,Mutual Appreciation,40769,0.11071312333333332,0.005000,0.001200,0.000000,0.001200
5340,Her Cry: La Llorona Investigation,220490,0.001,0.000350,0.001000,0.000000,0.001000
5341,Down Terrace,42151,0.2697243133333333,0.000312,0.000100,0.001718,0.001718
5342,Clerks,2292,3.0317868366666665,0.000270,0.031511,0.421051,0.555838
5343,Pink Narcissus,42497,8e-05,0.000270,0.000080,0.000000,0.000080
5344,Funny Ha Ha,33693,0.00917934,0.000250,0.000769,0.000000,0.001200
5345,In the Company of Men,14585,5.59940412,0.000240,0.028000,0.000000,0.294000
5346,Manito,185465,0.5869739033333333,0.000250,0.000110,0.017593,0.000110
5347,Rampage,38780,4.629835010000001,1.200000,4.280000,0.000000,4.280000
5349,Dutch Kills,366967,0.001,0.000250,0.001000,0.000000,0.001000
5350,Dry Spell,255266,0.4869880733333332,0.000220,0.001000,0.000000,0.001000
5352,Backmask,226458,1.0845218433333335,0.000150,0.002911,0.472419,0.002911
5353,The Puffy Chair,24055,0.6399645633333334,0.000150,0.001900,0.100600,0.100600
5354,Stories of Our Lives,287625,0.23650000000000002,0.000150,0.236500,0.000000,0.236500
5357,Pink Flamingos,692,1.6340711466666666,0.000120,0.060000,0.904500,0.078207
5358,Clean,39851,8.099254473333334,0.000100,0.033000,0.033000,0.048574
5360,Tin Can Man,157185,0.001,0.000130,0.001000,0.000000,0.001000
5361,Cure,36095,0.5414698733333333,0.000200,0.000990,0.000000,0.000990
5362,On The Downlow,182291,0.00028,0.000100,0.000280,0.000000,0.000280
5363,Sanctuary: Quite a Conundrum,286939,0.002,0.020000,0.002000,0.000000,0.002000
5364,Bang,124606,1.812381176666667,0.070000,0.001000,0.000000,0.001000
5365,Primer,14337,0.7772454933333331,0.070000,0.004248,0.000000,0.004248
5367,El Mariachi,9367,0.74819449,0.002200,0.020409,1.970120,1.970120
5368,Newlyweds,72766,4.732941563333333,0.090000,0.033600,0.210092,0.100000
5369,"Signed, Sealed, Delivered",231617,1.4094753266666666,0.001000,0.001000,0.000000,0.001000
5370,Shanghai Calling,126186,8.42521909,0.007400,0.000100,0.000000,0.000100
5371,My Date with Drew,25975,3.1541880866666663,0.007400,0.002628,0.000000,0.049752

In [29]:
dataset = pd.read_csv('DBClassifiedFinal_Final_After_Cleaning.csv')
invalid_idx = []
for ii in range(len(dataset)):
    x = dataset.iloc[ii].cast
     #print (type(x))
     #break
    if (str(type(x)) == "<class 'numpy.float64'>"):
        invalid_idx.append(ii)
        
print("Drop all invalid rows:", len(invalid_idx))

Drop all invalid rows: 4669

### Spilt the data into train and test set

In [30]:
# x = dataset[['cast', 'budget', 'producers', 'writers', 'directors']].values
# y = dataset['revenue'].values 
# rand_gen = np.random.RandomState(0)
shuffled_indices = rand_gen.permutation(np.arange(len(x)))
# print(shuffled_indices)
# num_train = int(0.80 * number_of_rows)
# x_train = x[shuffled_indices[:num_train]]
# y_train = y[shuffled_indices[:num_train]]
# x_test = x[shuffled_indices[num_train:]]
# y_test = y[shuffled_indices[num_train:]]

In [31]:
# x = dataset[['cast', 'budget', 'producers', 'writers', 'directors']].values
x = dataset[['cast', 'budget', 'writers', 'directors']].values
y = dataset['revenue'].values 
# # x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)
# # print(x_train)

# normalization

In [33]:
def normalize_mean_std(df, df_train, feature_array):
    for feature_name in feature_array:
        mean_f = float(df_train[feature_name].mean())
        std_f = float(df_train[feature_name].std())
        df.loc[df.index, feature_name] = (df[feature_name] - mean_f) / std_f
    return df  


# df = normalize_mean_std(dataset, dataset.iloc[shuffled_indices[:num_train]], ['cast', 'budget','revenue', 'producers', 'writers', 'directors'])

df = normalize_mean_std(dataset, dataset.iloc[shuffled_indices[:num_train]], ['cast', 'budget','revenue', 'writers', 'directors'])
df = df.drop(columns=['Unnamed: 0'])
df.to_csv('chental.csv')
df

NameError: name 'shuffled_indices' is not defined

In [20]:
col = 'budget'
print(df[col].dtypes)
nan_idx_train = df[col].isnull()
sns.distplot(df[col][~nan_idx_train])

NameError: name 'df' is not defined

In [ ]:
# col = 'cast'
# print(df[col].dtypes)
# nan_idx_train = df[col].isnull()
# sns.distplot(df[col][~nan_idx_train])

In [ ]:
# col = 'producers'
# print(df[col].dtypes)
# nan_idx_train = df[col].isnull()
# sns.distplot(df[col][~nan_idx_train])

# Spilt the data into train and test set again, after normalization

In [22]:
# x = df[['cast', 'budget', 'producers', 'writers', 'directors']].values
x = df[['cast', 'budget', 'writers', 'directors']].values
y = df['revenue'].values 

rand_gen = np.random.RandomState(0)
shuffled_indices = rand_gen.permutation(np.arange(len(x)))
print(shuffled_indices)
num_train = int(0.8 * number_of_rows)

x_train = x[shuffled_indices[:num_train]]
y_train = y[shuffled_indices[:num_train]]
x_test = x[shuffled_indices[num_train:]]
y_test = y[shuffled_indices[num_train:]]

# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)
print(x_train)

NameError: name 'df' is not defined

# remove outliers

In [ ]:
# def remove_outliers(df, df_train, feature_name):
#     invalid_idx = []
#     counter = 0
#     #for feature_name in feature_array:
#     mean_f = float(df_train[feature_name].mean())
#     std_f = float(df_train[feature_name].std())
#     print(mean_f)
#     print(std_f)
#     max_err = mean_f + 3 * (std_f)
#     min_err = mean_f - 3 * (std_f)
#     for element in df[feature_name]:
#         counter+=1
#         if element > max_err or element < min_err:
#             invalid_idx.append(counter)
            
#     print(len(invalid_idx))
# #     dataset = dataset.drop(invalid_idx)
#     return df


# # def normalize_mean_std(df, df_train, feature_array):
# #     for feature_name in feature_array:
# #         mean_f = float(df_train[feature_name].mean())
# #         std_f = float(df_train[feature_name].std())
# #         df.loc[df.index, feature_name] = (df[feature_name] - mean_f) / std_f
# #     return df  

# # df = normalize_mean_std(dataset, dataset.iloc[shuffled_indices[:num_train]], ['cast', 'budget','revenue', 'producers', 'writers', 'directors'])
# # df = df.drop(columns=['Unnamed: 0'])
# # df.to_csv('chental.csv')
# # df

In [ ]:
# remove_outliers(df,df.iloc[shuffled_indices[:num_train]],['writers'])
# df

## Model

In [ ]:
KNN_model = KNeighborsRegressor(algorithm='auto', leaf_size=10, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=10, p=1,
          weights='distance')
KNN_model.fit(x_train, y_train)
y_pred_KNN = KNN_model.predict(x_test)

In [ ]:
rf_model = RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='sqrt', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)
rf_model.fit(x_train, y_train)
y_pred_rf = rf_model.predict(x_test)

In [ ]:
dt_model = DecisionTreeRegressor(criterion='friedman_mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=8,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='random')
dt_model.fit(x_train, y_train)
y_pred_dt = dt_model.predict(x_test)

In [ ]:
Linear_model = LinearRegression(copy_X='true', fit_intercept='true', n_jobs=None,
         normalize=False)
Linear_model.fit(x_train, y_train)
y_pred_Linear = Linear_model.predict(x_test)

In [ ]:
xg_model = xgb.XGBRegressor()
xg_model.fit(x_train, y_train)
y_pred_xg = dt_model.predict(x_test)

In [ ]:
# SGD_model = SGDRegressor()
# SGD_model.fit(x_train, y_train)
# y_pred_SGD = SGD_model.predict(x_test)

In [ ]:
# Logistic_model = LogisticRegression()
# Logistic_model.fit(x_train, y_train)
# y_pred_Logistic = Logistic_model.predict(x_test)

In [ ]:
#calculate the percentage error
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [ ]:
tal = [1, 0.5, -6, 7]
chen = [1.25, 0.6, -5, 7]
# 1- 0.25, 2-0.2, 3- 0.166 4-0 = 0.154
print(mean_absolute_percentage_error(tal, chen))

In [ ]:
print('MSE RandomForestRegressor:', metrics.mean_squared_error(y_test, y_pred_rf))
print('MAPE RandomForestRegressor:', mean_absolute_percentage_error(y_test, y_pred_rf))
print ("-------------------------------------------------------------------------------")

print('MSE DecisionTreeRegressor:', metrics.mean_squared_error(y_test, y_pred_dt))
print('MAPE DecisionTreeRegressor:', mean_absolute_percentage_error(y_test, y_pred_dt))
print ("-------------------------------------------------------------------------------")

print('MSE KNeighborsRegressor:', metrics.mean_squared_error(y_test, y_pred_KNN))
print('MAPE KNeighborsRegressor:', mean_absolute_percentage_error(y_test, y_pred_KNN))
print ("-------------------------------------------------------------------------------")

print('MSE LinearRegression:', metrics.mean_squared_error(y_test, y_pred_Linear))
print('MAPE LinearRegression:', mean_absolute_percentage_error(y_test, y_pred_Linear))
print ("-------------------------------------------------------------------------------")

print('MAE LinearRegression:', metrics.mean_absolute_error(y_test, y_pred_Linear))
print('MAPE LinearRegression:', mean_absolute_percentage_error(y_test, y_pred_Linear))
print ("-------------------------------------------------------------------------------")

print('MSE xgboost:', metrics.mean_squared_error(y_test, y_pred_xg))
# print('MAPE xgboost:', mean_absolute_percentage_error(y_test, y_pred_xg))
print ("-------------------------------------------------------------------------------")




#print('MSE LogisticRegression:', metrics.mean_squared_error(y_test, y_pred_Logistic))
#print('MSE XGBRegressor:', metrics.mean_squared_error(y_test, y_pred_xg))
#print('MSE SGDRegressor:', metrics.mean_squared_error(y_test, y_pred_xg))
df = pd.DataFrame({'Actual':y_test, 'Predicted_RF':y_pred_rf, 'Predicted_DT':y_pred_dt, 'Predicted_KNN': y_pred_KNN, 'Predicted_Linear': y_pred_Linear, 'Predicted_Linear': y_pred_Linear})#,'Predicted_XGB': y_pred_xg, 'Predicted_SGD': y_pred_SGD})
df
df.to_csv('results.csv')

In [ ]:
# print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
# print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
# print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
# plt.figure(figsize=(5, 7))

# ax = sns.distplot(y, hist=False, color="r", label="Actual Value")
# sns.distplot(y_pred, hist=False, color="b", label="Fitted Values" , ax=ax)

# plt.title('Actual vs Fitted Values for Price')

# plt.show()
# plt.close()

# grid

# KNN model

In [ ]:
params = {
    'n_neighbors' : [5, 10, 15, 20, 25, 30],
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'leaf_size': [10,20,30,40,50],
     'p': [1,2]
}
grid_kn = GridSearchCV(estimator = KNN_model,
                        param_grid = params,
                        scoring = 'neg_mean_squared_error', 
                        cv = 3, 
                        verbose = 1,
                        n_jobs = -1)
grid_kn.fit(x_train, y_train)
print(grid_kn.best_estimator_)
print(grid_kn.score(x_test, y_test))

# rf model

In [ ]:
params = {
    'n_estimators' : [100, 200, 300, 400, 500],
    'criterion': ['mse', 'mae'],
    #'max_depth': ['none'],
    'min_samples_split': [2,5,8,10,15],
    'max_features': ['auto','sqrt','log2']
}
grid_rf = GridSearchCV(estimator = rf_model,
                        param_grid = params,
                        scoring = 'neg_mean_squared_error', 
                        cv = 3, 
                        verbose = 1,
                        n_jobs = -1)
grid_rf.fit(x_train, y_train)
print(grid_rf.best_estimator_)
print(grid_rf.score(x_test, y_test))

# dt_model

In [ ]:
params = {
    'criterion': ['mse', 'mae','friedman_mse'],
    'splitter': ['best','random'],
    'min_samples_split': [2,5,8,10,15],
    'max_features': ['auto','sqrt','log2']
}
grid_dt = GridSearchCV(estimator = dt_model,
                        param_grid = params,
                        scoring = 'neg_mean_squared_error', 
                        cv = 3, 
                        verbose = 1,
                        n_jobs = -1)
grid_dt.fit(x_train, y_train)
print(grid_dt.best_estimator_)
print(grid_dt.score(x_test, y_test))

# Linear_model

In [ ]:
params = {
    'fit_intercept' : ['true', 'false'],
    #'normalizebool': ['true', 'false'],
    'copy_X': ['true', 'false']  
}
grid_lr = GridSearchCV(estimator = Linear_model,
                        param_grid = params,
                        scoring = 'neg_mean_squared_error', 
                        cv = 3, 
                        verbose = 1,
                        n_jobs = -1)
grid_lr.fit(x_train, y_train)
print(grid_lr.best_estimator_)
print(grid_lr.score(x_test, y_test))

# xg_model

In [ ]:
params = {
    'data' : ['true', 'false'],
    'label': ['true', 'false'],
    'missing': ['true', 'false']  
}
grid_xg = GridSearchCV(estimator = xg_model,
                        param_grid = params,
                        scoring = 'neg_mean_squared_error', 
                        cv = 3, 
                        verbose = 1,
                        n_jobs = -1)
grid_xg.fit(x_train, y_train)
print(grid_xg.best_estimator_)
print(grid_xg.score(x_test, y_test))

In [ ]:
# random_state = 38
# log_clf = LogisticRegression(random_state=random_state, solver='lbfgs')
# svm_clf = SVC(random_state=random_state)
# voting_clf = VotingClassifier(estimators=[('lr', log_clf), ('rf', rnd_clf), ('svc', svm_clf)], voting='hard')

In [ ]:
# for clf in (log_clf, rnd_clf, svm_clf, voting_clf):
#     clf.fit(x_train, y_train)
#     y_pred = clf.predict(x_test)
#     print(clf.__class__.__name__, accuracy_score(y_test, y_pred))